header {
    border: 5px solid blue;
    padding: 10px;
    margin: 20px;
}

article {
    border: 5px solid blue;
    padding: 10px;
    margin: 20px;
}

aside {
    border: 5px solid blue;
    padding: 10px;
    margin: 20px;
}